#logo {
width:900px; 
	height:90px; 
	vertical-align:top; 
	text-align:right;
	background:url("logo.jpg")
}
#gornyPasek {
	width:900px; 
	height:24px;
	background:orange;
	font-size:80%;
	line-height:normal;
	}
#gornyPasek ul {
	margin:0;
	padding:2px 0px 0 10px;
	list-style:none;
	}
#gornyPasek a {
	float:left;
	background:url("tableft.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 5px;
	text-decoration:none;
	}
#gornyPasek a span {
	float:left;
	display:block;
	background:url("tabright.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#FFF;
	}

#gornyPasek a span {float:none;}

#gornyPasek a:hover span {
	color:#FFF;
	}

#gornyPasek a:hover {
	background-position:0% -42px;
	}

#gornyPasek a:hover span {
	background-position:100% -42px;
	}
div#banner { width:900px; height:150px; background-color:grey; }

#bannerRotator { width:900px; height:150px; padding:0px;  }
#bannerRotator ul li img{ max-width:900px; max-height:150px; }


/*---------- YOU MIGHT BREAK IT IF YOU CHANGE THIS STUFF -----------*/
#bannerRotator { position:relative; }
#bannerRotator ul { list-style:none; padding:0; position:relative; margin:0; }
#bannerRotator ul li { display:none; position:absolute; }
#bannerRotator ul li a { text-decoration:none; }


#tableMain {
	width:900px;
	height:100%;
	background:orange;
	border-collapse: collapse;	
	padding: 0;

}
#td1 {
width:270px; 

}
#table1 {
	width:270px;
	height:100%;
	background:orange;
	border-collapse: collapse;	
	padding: 0;
}
#bookOnLine {

background:url("book.jpg"); 
vertical-align:middle;
width:270px; 
height:300px;

}
#checkBook {
background:url("book2.jpg"); font-size:12px; width:270px; height:30px
}

#td2 {
width:630px;
}

#mapaTable {
	width:630;
	height:100%;
	background:orange;
	border-collapse: collapse;	
	padding: 0;
}

#mapa {
background-color:black; 
color:white; 
width:627px; 
height:AUTO;

}

#mapaKraj {
width:100%; 
vertical-align:middle; 
background:url("bar.png"); 
height:41px;
}

#opis_kina {
font-size: 12px; 
}

#trailery {
background-color:#D2691E; 
 
width:100%; 
height:270px;
}



