INPUT {
	border: 1px solid #555;
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
	height:20px;
}
table {
	font-size: 12px;
}

.odd {
	background-color: #e0e0e0;
}
input, button {
	background-color: black;
	color: white;
	border: 1px solid #333;
	border-radius: 3px;
}
input[type='submit'], button {
	background-color: #111;
	background-image: linear-gradient(bottom, #000000 45%,#666 100%);
	background-image: -o-linear-gradient(bottom, #000000 45%,#666 100%);
	background-image: -moz-linear-gradient(bottom, #000000 45%,#666 100%);
	background-image: -webkit-linear-gradient(bottom, #000000 45%,#666 100%);
	background-image: -ms-linear-gradient(bottom, #000000 45%,#666 100%);
}
IMG {border:0;}
pre {
	background-color: #000;
}

html {
       overflow-y: scroll;
}
body,div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p {
    margin: 0;
    padding: 0;
}
ol, ul { list-style: none; }
a { color: #146cb4; text-decoration: none; }
a:hover { color: #000; background: #dedede; text-decoration: none; }
body { background: #fff; color: #333; font: normal 12px/16px Arial,sans-serif; }
body { color: #c9c9c9; font-family: Arial, sans-serif;}
a, a:visited { color: #8dbde5; }
a:hover { background: none; text-decoration: none; color: #c9dde7;}
a:focus {  background: none; text-decoration: none; color: #c9dde7; outline: 0; }

.Ww1, .Ww2, #navH, #content, #navtop_wrap, #navbot_wrap, #footer { width: 940px; margin: 0 auto; padding: 0 0; }

/* winieta */
#sWlbg { width: 960px; margin: 0 auto;}
#sWlbg .Ww2 { position: relative; margin: 10px auto 5px; padding: -20px; }
#sWlbg .Ww2 .Wimg3 { position: relative; z-index: 2; margin: 15px 0 0; margin-left:0 !important;}
#sWlbg .Ww2 .Whtm { position: absolute; top: 0; left: 0; width: 100%; }
#sWlbg .Wseohtm { position: absolute; top: 0; right: 0; z-index: 2; width: 100%; }
#sWlbg #banP71 { position: absolute; right: 0; top: 0; z-index: 1; }
#sWlbg #banP71 a:hover { background: none; }
#sWlbg .Wseohtm h1 { font-style: normal; font-weight: normal;font-size: 14px; border-left: 1px solid #777; padding: 0 0 0 15px; height: 41px; line-height: 41px; position: absolute; white-space: nowrap; left: 260px; top: 25px; }


body {background: #000 url('/images/pic/body_bg.jpg') repeat-x 0 0;}

.path_114725 #page { background: #000 url('/images/pic/tapeta_kinoplex.jpg') no-repeat center top }

/* nawigacja */
div#navH{
	left:300px;
	border-radius :10px;
	-moz-border-radius:10px; 
	box-shadow: 1px 3px 15px #80b2dc inset;	
}

div.link_logout{
	text-align:center;
	font-weight:bold;
	margin-top:10px;
	float:right;

	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	border-radius :8px; 
	-moz-border-radius:8px; 	
	box-shadow: 1px 3px 13px #80b2dc inset;
	
}


div.link_login{
	font-weight:bold;
	margin-top:10px;
	float:right;
	width:10%;
	padding:5px;
	border-radius :9px; 
	-moz-border-radius:9px; 
	box-shadow: 1px 3px 14px #80b2dc inset;	
}

div.bck_color{
	background-color:#1D1D1D;
}



div:hover.menu_el{
	box-shadow: 0px 0px 6px #80b2dc ;		
}

div.no_rad, div.left_rad{
	border-right: 1px solid #1A2429;
}
div.right_rad{
	border-left: 1px solid #1A2429;
}
div:hover.left_rad{
	border-bottom-left-radius :10px; 
	-moz-border-bottom-left-radius:10px; 
	border-top-left-radius :10px; 
	-moz-border-top-left-radius:10px; 	
}
div:hover.right_rad{
	border-bottom-right-radius :10px; 
	-moz-border-bottom-right-radius:10px; 
	border-top-right-radius :10px; 
	-moz-border-top-right-radius:10px; 	
}
#navH .p0 { height: 35px; }
#navH .p0 li { float: left; display: inline; border-left:1px ; font: bold 14px Arial, sans-serif; line-height: 35px; position: relative;}
a.main_menu { color: #fff; display: block; text-align: center; padding: 0 14px; }
a:hover.main_menu  {  color:#80b2dc; text-decoration:none; }
a.main_menu_selected{color: #80b2dc; display: block; text-align: center; padding: 0 14px; }
#navH .p0 li.active a{ }
#navH .p0 li.afterActive { background: none; }
#navH .p0 #e1{border:none;}
#navH .p0 #e0{border:none; }

#navH .p0 .p1 {display: none; position: absolute; top:34px; left:0; background: #1a2429; width: 300px; padding-bottom: 5px;}
#navH .p0 li:hover .p1{display:block;}
#navH .p0 .p1 li {float: left;display: block; background: none; font: normal 14px/14px Arial,serif; height: auto; padding:0; width: 100px;}
#navH .p0 .p1 li:hover a {color: #80b2dc; background: none;}
#navH .p0 .p1 li a {color: #fff; padding: 5px 14px; text-align: left; height: auto;}
#navH .p0 .p1 li.active a {color: #80b2dc;}
#navH .p0 li.active .p1 a {background: none;}

#navH .p0 .moje { float: right; }

.sep_col{color:purple}
/* footer */

#footer_fix{
	position:fixed;
	bottom: 0%;
	left:10%;
	width:80%;

	clear: both;
}

#footer .ft_top, #footer_fix .ft_top  {border-top: 1px solid #222; border-bottom: 1px solid #222;}
#footer .ft_top .c1,#footer_fix .ft_top .c1 {display:none;}
#footer ul li, #footer_fix ul li {float: left;background: url('/images/pic/footerSpacer.gif') center left no-repeat;padding-left: 8px;margin-left: 8px;}
#footer .ft_bot,#footer_fix .ft_bot  {font-size: 11px;}
#footer .ft_bot a,#footer_fix .ft_bot a {color: #fff;}
#footer .ft_bot .c0, #footer_fix .ft_bot .c0 a {color: #fff;}
#footer .ft_bot .c0 .copy, #footer_fix .ft_bot .c0 .copy a {color: #999;}
#footer .ft_bot .c0 a:hover, #footer_fix .ft_bot .c1 a:hover {color: #c9dde7;}
#footer .ft_bot .c0 .copy a:hover, #footer_fix .ft_bot .c0 .copy a:hover{color: #999;}

.cloud{
	font-weight:bold;
	opacity:.9;
	z-index:998;
	border:1px solid black;
	position:absolute;
	border-radius :8px; 
	-moz-border-radius:8px; 
	

}

.cloud.cloudWarning{
	background-color:#FFEB99;
	color:black;
}

.cloud.cloudError{
	background-color:#fff;
	color:black;
}

.cloud.cloudNotice{
	background-color:#C7E3FF;
	color:black;
}
.cloud.cloudWarning a{ color: black;}
.cloud a{ color: white;}

.flashBar{
	width:100%;
	height:1.7em;
	vertical-align:middle;
	text-align:center;
	padding-top: 2%;
	border-top-left-radius :8px; -moz-border-top-left-radius:8px; 
	border-top-right-radius :8px; -moz-border-top-right-radius:8px; 
	
}

.flashBar.cloudWarning{
	background-color:#DB7000;
	color:black;
	box-shadow: 2px 3px 14px #F8F8F8 inset;	
}
.flashBar.cloudError{
	background-color:#800000 ;
	color:white;
	box-shadow: 2px 3px 14px #F8F8F8 inset;	
}
.flashBar.cloudNotice{
	background-color:#336699;
	color:white;
	box-shadow: 2px 3px 14px #F8F8F8 inset;	
}
