INPUT {
	border: 1px solid #555;
	font-family:Verdana, Arial, sans-serif;
	font-size:12;
	height:20;
}
table {
	font-size:12;
}

.odd {
	background-color: #e0e0e0;
}

IMG {border:0;}
pre {
	background-color: #000;
}
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p {
    margin: 0;
    padding: 0;
}
ol, ul { list-style: none; }
a, a { color: #146cb4; text-decoration: none; }
a:hover { color: #000; background: #dedede; text-decoration: none; }
body { background: #fff; color: #333; font: normal 12px/16px Arial,sans-serif; }
body { color: #c9c9c9; font-family: Arial, sans-serif;}
a, a:visited { color: #8dbde5; }
a:hover { background: none; text-decoration: none; color: #c9dde7;}
a:focus { outline: 0; }

.Ww1, .Ww2, #navH, #content, #navtop_wrap, #navbot_wrap, #footer { width: 940px; margin: 0 auto; padding: 0 0; }

/* winieta */
#sWlbg { width: 960px; margin: 0 auto;}
#sWlbg .Ww2 { position: relative; margin: 10px auto 5px; padding: -20px; }
#sWlbg .Ww2 .Wimg3 { position: relative; z-index: 2; margin: 15px 0 0; margin-left:0 !important;}
#sWlbg .Ww2 .Whtm { position: absolute; top: 0; left: 0; width: 100%; }
#sWlbg .Wseohtm { position: absolute; top: 0; right: 0; z-index: 2; width: 100%; }
#sWlbg #banP71 { position: absolute; right: 0; top: 0; z-index: 1; }
#sWlbg #banP71 a:hover { background: none; }
#sWlbg .Wseohtm h1 { font-style: normal; font-weight: normal;font-size: 14px; border-left: 1px solid #777; padding: 0 0 0 15px; height: 41px; line-height: 41px; position: absolute; white-space: nowrap; left: 260px; top: 25px; }


body {background: #000 url('/images/pic/body_bg.jpg') repeat-x 0 0;}
#page {background: url('/images/pic/page_bg.jpg') no-repeat 105px 0;}
.path_114725 #page { background: #000 url('/images/pic/tapeta_kinoplex.jpg') no-repeat center top }

/* nawigacja */
#navH { position: relative; z-index: 201;}
#navH .p0 { height: 35px; background: url('/images/pic/navh_bg.png') no-repeat 0 0; overflow: display; zoom: 1; }
#navH .p0 li { float: left; display: inline; height: 35px; background: url('/images/pic/nav_tab.png') no-repeat 0 0; font: bold 14px Arial, sans-serif; line-height: 34px; position: relative;}
#navH .p0 li a { color: #fff; display: block; height:42px; text-align: center; padding: 0 14px; }
#navH .p0 li a:hover {color: #c9dde7; background: url('/images/pic/flash_active_bg2.png') no-repeat center bottom; text-decoration: none;}
#navH .p0 li.active a{ background: url('/images/pic/flash_active_bg2.png') no-repeat center bottom;}
#navH .p0 li.afterActive { background: none; }
#navH .p0 #e1 {width: 17px; padding: 0 10px; background: none;}
#navH .p0 #e1 a {background: url("/images/pic/kinoplex_sprite3.png") no-repeat scroll 0 0 transparent;; background-position: -320px -186px; text-indent:-9999px; height:35px; display:block; width: 17px;}
#navH .p0 #e1:hover a {background-position: -320px -211px;}

#navH .p0 .p1 {display: none; position: absolute; top:34px; left:0; background: #1a2429; width: 300px; padding-bottom: 5px;}
#navH .p0 li:hover .p1{display:block;}
#navH .p0 .p1 li {float: left;display: block; background: none; font: normal 14px/14px Arial,serif; height: auto; padding:0; width: 100px;}
#navH .p0 .p1 li:hover a {color: #80b2dc; background: none;}
#navH .p0 .p1 li a {color: #fff; padding: 5px 14px; text-align: left; height: auto;}
#navH .p0 .p1 li.active a {color: #80b2dc;}
#navH .p0 li.active .p1 a {background: none;}
#navH .p0 .moje { float: right; }


/* footer */
#footer .ft_top {border-top: 1px solid #222; border-bottom: 1px solid #222;}
#footer .ft_top .c1 {display:none;}
#footer ul li {float: left;background: url('/images/pic/footerSpacer.gif') center left no-repeat;padding-left: 8px;margin-left: 8px;}
#footer .ft_bot {font-size: 11px;}
#footer .ft_bot a {color: #fff;}
#footer .ft_bot .c0, #footer .ft_bot .c0 a {color: #fff;}
#footer .ft_bot .c0 .copy, #footer .ft_bot .c0 .copy a {color: #999;}
#footer .ft_bot .c0 a:hover, #footer .ft_bot .c1 a:hover {color: #c9dde7;}
#footer .ft_bot .c0 .copy a:hover{color: #999;}