body {  
    background: #DCDCDC; 
		
    margin: 0px;  
} 
#header {  
	 
    margin-left: auto;  
    margin-right: auto;  
    width: 100%;  
      height: 10px; 
      
    position: relative;      
} 

#wrapper{ 
 
    margin-left: auto;  
    margin-right: auto;  
    width: 1060px;  
    text-align: center;  
}  
#toppanel {  

    position: absolute;  
    top: 23px; 
	
    width: 100%;  
    z-index: 25;  
    text-align: center;  
    margin-left: auto;  
    margin-right: auto;  
}  
#panel { 
	text-align:center;
    width: 300px;  
    position: relative;  
    top: 1px;  
    height: 200px;  
    margin-left: auto;  
    margin-right: auto;  
    z-index: 10;  
    overflow: hidden;  
      
}  
#panel_contents {  
	text-align:center;
    background: black;  
    filter:alpha(opacity=90);  
    -moz-opacity:0.90;  
    -khtml-opacity: 0.90;  
    opacity: 0.90;  
	
    height: 100%;  
    width: 300px;  
    position: absolute;  
    z-index: -1;  
}  

.border {  
	 
    border: 15px #1d1d1d solid;  
}  
  
img.border_pic { 
  
    border: 15px #1d1d1d solid;  
    position: absolute;  
    top: 110px;  
    float: left;  
    margin-left: 150px;  
    width: 300px;  
    height: 150px;  
    z-index: 30;  
}  
  

.panel_button {  

    margin-left: auto;  
    margin-right: auto;  
    position: relative;  
    top: 1px;  
    width: 173px;  
    height: 54px;  
    background: url(panel_button.png);  
    z-index: 20;  
    filter:alpha(opacity=90);  
    -moz-opacity:0.90;  
    -khtml-opacity: 0.90;  
    opacity: 0.90;  
    cursor: pointer;  
}  
.panel_button a {  

    text-decoration: none;  
    color: #FFD700;  
    font-size: 20px;  
    font-weight: bold;  
    position: relative;  
    top: 5px;  
    left: 10px;  
    font-family: Arial, Helvetica, sans-serif;  
}  
.panel_button a:hover { 
	color: #FFD700;  
}  
.panel_button img{
  
position: relative;  
top: 10px;  
border: none;  

} 

 