<%= form_for(@user) do |u| %>
	<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2 style="">Nie można było utworzyć konta:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li style="color: red"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table style="border: 0px">
  	<tr>
  		<td class="label"><label id="t">Login</label></td>
  		<td><input type="text"  id="user_login" name="user[login]" class="validate[required] text-input" /></td>
  		<td><label id="login_status" for="user_login" style="display: none" ></label></td>
  	</tr>
  	<tr>
  		<td class='label'><label for="user_first_name">Imię</label></td>
  		<td><input id="user_first_name" name="user[first_name]" class="validate[required]" /></td>  		
  	</tr>
  	<tr>
  		<td class="label"><label for="user_last_name">Nazwisko</label></td>
  		<td><input id="user_last_name" name="user[last_name]" class="validate[required]"/></td>
  	</tr>
  	<tr>
  		<td class="label"><label for="user_password">Hasło</label></td>
  		<td><input id="user_hashed_password" name="user[hashed_password]" class="validate[required] text-input" type="password" /></td>
  		<td></td>
  	</tr>
  	<tr>
  		<td class="label"><label for="user_password_confirmation">Powtórz hasło</label></td>
  		<td><input id="user_hashed_password_confirmation" name="user[hashed_password_confirmation]" class="validate[required] text-input" type="password" /></td>
  		<td></td>
  	</tr>
  	<tr>
  		<td class="label"><label for="user_email">Email</label></td>
  		<td><input type="text" id="user_email" name="user[email]" class="validate[required,custom[email]] text-input" type="email" /></td>	
  		<td></td>
  	</tr>
  	<tr>
  		<td class="label"><label for="user_phone">Telefon</label></td>
  		<td><input type="text" id="user_phone" name="user[phone]" class="validate[required] text-input" type="text" />  </td>	
  		<td></td>
  	</tr> 
  		
  </table>
 <br />
 <input type="submit" id="addNewUser" style="width: 110px" value="Załóż konto">
	<% end%>
</form>

<script>


		$j("#addNewUser").click( function(){
			var dataString = "user%5Blogin%5D="+$j("#user_login").val()+"&user%5Bfirst_name%5D="+$j("#user_first_name").val()+"&user%5Blast_name%5D="+$j("#user_last_name").val()+"&user%5Bhashed_password%5D="+$j("#user_hashed_password").val()+"&user%5Bhashed_password_confirmation%5D="+$j("#user_hashed_password_confirmation").val()+"&user%5Bemail%5D="+$j("#user_email").val()+"&user%5Bphone%5D="+$j("#user_phone").val()
			//alert(dataString);
			page = $j.ajax({
							url: "/private/users",
							type: "POST",
							data: dataString,
							dataType : 'json',
							success: function (result){
									if(result){
										setEverythingAfterLogin(result, true);
									}
									else {
										alert("Podałeś nieprawidłowe dane!")
									}
							},
							error: function(){
								alert("error przy pobieraniu danych");
							}
			});
			
			
			return false;
		});
</script>