<!-- CSS/JS imports -->
<script src="/javascripts/jquery.validationEngine-pl.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>

<LINK REL=StyleSheet HREF="/stylesheets/new_user.css" TYPE="text/css" MEDIA=screen>
<!-- EO CSS/JS imports -->

<!-- JS code -->
<script>
	$j(document).ready(function(){
    // binds form submission and fields to the validation engine
    $j("#new_user").validationEngine('attach', { validationEventTrigger: 'submit'});
    
    $j("#user_login").blur(function()
    {
    	var login = $j("#user_login").val();
    	
    	if(login.length > 2)
    	{
    		var login_availability = $j.ajax({
    			type: "POST",
	    		url: "/public/users/login_availability",
	    		data: "login=" + login,
	    		
	    		success: function(message)
	    		{	    		
	    			$j("#login_status").show('fast');
	    			if (message == 'OK') 
	    			{				
	    				$j("#login_status").css("color", "lime");
	    				$j("#login_status").text("Login dostępny");
	    			}
	    			else
	    			{	    				
	    				$j("#login_status").css("color", "red");
	    				$j("#login_status").text("Login niedostępny");
	    			}
	    		},
	    		error: function()
	    		{
	    			alert('Sprawdzenie dostępności nie powiodło się.');
	    		}
    		});
    	}
    	else
    	{
    		$j("#login_status").show('fast');
    		$j("#login_status").css("color", "red");
	    	$j("#login_status").text("Login musi liczyć minimum 3 znaki");
	    }
    	
    });
    
    $j("#user_email").blur(function()
    {
    	var email = $j("#user_email").val();
		var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;  
   
    	
    	if(email.length > 2 && emailPattern.test(email))
    	{
    		var email_availability = $j.ajax({
    			type: "POST",
	    		url: "/public/users/user_email_availability",
	    		data: "email=" + email,
	    		
	    		success: function(message)
	    		{	    		
	    			$j("#email_status").show('fast');
	    			if (message == 'OK') 
	    			{				
	    				$j("#email_status").css("color", "lime");
	    				$j("#email_status").text("email dostępny");
	    			}
	    			else
	    			{	    				
	    				$j("#email_status").css("color", "red");
	    				$j("#email_status").text("email niedostępny");
	    			}
	    		},
	    		error: function()
	    		{
	    			alert('Sprawdzenie dostępności nie powiodło się.');
	    		}
    		});
    	}
    	else
    	{    		
			$j("#email_status").show('fast');
    		$j("#email_status").css("color", "red");
	    	$j("#email_status").text("Nieprawidłowy format dla adresu email.");   		
	    }
    	
    });
 }); 
</script>
<!-- EO JS code -->


<h3 style="margin: 30px;" align="left"> Uzupełnij swoje dane by utworzyć konto: </h3>
<%= render 'form' %>