<% for film in @filmy do-%>
<%= h(film.id.to_s + " - " + film.title + " - " + film.director) %><br />
<% end -%>


<br/>
<%= @time.strftime("%A, %d %m %Y %H:%M:%S") %><br/>
<br/>


<% for c in @cinema do-%>
<%= h(c.id.to_s + " - " + c.address + " - " + c.phone.to_s + " - " + c.updated_at.strftime("%d/%m/%Y")) %><br />
<% c.update_attribute(:name, "Korona1")%>
<% end -%>

<% for c in @city do-%>
<%= h(c.id.to_s + " - " + c.name) %><br />
<% end -%>

<%= debug(@x) %><br /><br />
<%= debug(@y) %><br /><br />
<%= debug(@z) %>



<% #@x.save %>
<% # @time.strftime("%Z") %>

<script>
//setTimeout("location.reload()", 1000)

// sala -> room ?
// termin -> ... ?
</script>

