<h1>Edytuj bilet</h1>
<% if @ticket -%>
	<%= render 'form' %>
	<%= link_to 'Pokaż', @ticket %> |
	<%= link_to 'Wróć', tickets_path %>
<% else -%>
	<% redirect_to({:controller => 'tickets'}, :notice => "Nie masz wystarczających uprawnień, lub odwołujesz się do nieistniejącego biletu") %>
<% end -%>