<script>
	jQuery(document).ready(function()
	{
		jQuery("#edit_ticket_sort_price_<%=@ticket_sort_price.id%>").validationEngine('attach', { validationEventTrigger: 'submit'});
	});
</script>

<h3>Edycja rodzaju ceny biletu</h3>

<%= render 'form' %>

<%= link_to 'Show', @ticket_sort_price %> |
<%= link_to 'Back', ticket_sort_prices_path %>
