<!-- CSS and JS imports -->
	<LINK REL=StyleSheet HREF="/stylesheets/cities/cities.css" TYPE="text/css" MEDIA=screen>
	
	<script src="/javascripts/jquery.validationEngine-pl.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>
<!-- EO  CSS and JS imports -->

<!-- JS code -->
<script>
	jQuery(document).ready(function()
	{
		jQuery('#new_city_a').bind('click', function(event)
		{
			jQuery('div:hidden').show('fast');
		});
	});
</script>
<!-- EO JS code-->

<h1>Lista miast</h1>
<a id="new_city_a" >Dodaj nowe miasto</a>

<div class="new_city">
	
	<form id="new_city_form" action="/cities/create" method="post">
		<label for="new_city">Nazwa miasta:</label>
		<input type="text" id="city_name" name="city[name]" />
		
		<button type="submit">Dodaj</button>
	</form>
	
</div>

<table>
  <tr>
    <th>Nazwa</th>
    <th></th>
  </tr>

<% @cities.each do |city| %>
  <tr>
    <td><%= city.name %></td>
    <td>
    	<% #if session[:isGA] -%>
    	<%= link_to 'Pokaż', city %>
    	<%= link_to 'Edytuj', edit_city_path(city) %>
    	<%= link_to 'Usuń', city_path(city), :confirm => 'Czy na pewno chcesz usunąć ten rekord?', :method => :delete %></td>
    	<%# end -%>
    </td>
  </tr>
<% end %>
</table>
