
<p>
  <b>Id:</b>
  <%= @city.id %>
</p>

<p>
  <b>Nazwa:</b>
  <%= @city.name %>
</p>

<% if session[:isGA]  -%>
<%= link_to 'Edytuj', edit_city_path(@city) %> |
<% end -%>
<%= link_to 'Wróć', cities_path %>
