<h1>Edytuj kategorię</h1>


<% if @category -%>
	<%= render 'form' %>
	<%= link_to 'Pokaż', @category %> |
	<%= link_to 'Wróć', categories_path %>
<% else -%>
<p>Nie masz uprawnień, aby edytować ten rekord</p>
<% end -%>