
<p>
  <b>Id:</b>
  <%= @category.id %>
</p>

<p>
  <b>Nazwa:</b>
  <%= @category.name %>
</p>


<% if session[:isGA]  -%>
	<%= link_to 'Edytuj', edit_categories_path(@film) %> |
<% end -%>
<%= link_to 'Wróć', categories_path %>