
<p>
  <b>Id:</b>
  <%= @status.id %>
</p>

<p>
  <b>Nazwa:</b>
  <%= @status.name %>
</p>


<% if session[:isGA]  -%>
	<%= link_to 'Edytuj', edit_status_path(@status) %> |
<% end -%>
<%= link_to 'Wróć', statuses_path %>
