<!-- CSS and JS imports -->
	<LINK REL=StyleSheet HREF="/stylesheets/cities/new_city.css" TYPE="text/css" MEDIA=screen>
	
	<script src="/javascripts/jquery.validationEngine-pl.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>
<!-- EO  CSS and JS imports -->

<!-- JS code -->
<script>
	jQuery(document).ready(function()
	{
		jQuery('#edit_discount_sort_<%=@discount_sort.id%>').validationEngine('attach', { validationEventTrigger: 'submit'});		
	});
</script>

<h3>Edycja zniżki</h3>
<br />

<%= render 'form' %>
<br />
<%= link_to 'Show', @discount_sort %> |
<%= link_to 'Back', discount_sorts_path %>
