		<li><%= link_to("Użytkownicy", {:controller => "users", :action => "show", :id => session[:user].id })%></li>
		<li><%= link_to("Bilety", {:controller => "tickets", :action => "index", :id => 0 })%></li>
		