<html>

<head>
<%= javascript_include_tag "dynamic_states.js" %>
<% javascript 'dynamic_states' %>

</head>
<body>
<p>
  <label for="person_country_id">Country:</label>
  <%= collection_select (:cinema, :id, Cinema.find(:all), :id, :name,{ :prompt => "Wybierz Kino"}) %>
</p>
<p id="state_field">
  <label for="person_state_id">State or Province:</label>
  <%= collection_select (:cinema_films, :id, CinemaFilm.find(:all), :id, :cinema_id,  { :prompt => "wybierz cinemafilm" }) %>
</p>
</body>
</html>