<!-- $.cookie("example", "foo", { expires: 7 }); -->
			
<div id="mapa">
		<div id="mapaKraj">&nbsp;Mapa Kraju
		</div>
			<table>
				<tr>
					<td>
						<ul>
							<li><a href="http://naszekino.pl/miasto/show/1" class="miasto" id="bialystok">Białystok</a></li>
							<li><a href="http://naszekino.pl/miasto/show/2" class="miasto" id="boleslawiec">Bolesławiec</a></li>
							<li><a href="http://naszekino.pl/miasto/show/3" class="miasto" id="czestochowa">Częstochowa</a></li>
							<li><a href="http://naszekino.pl/miasto/show/4" class="miasto" id="gdansk">Gdańsk</a></li>
							<li><a href="http://naszekino.pl/miasto/show/5" class="miasto" id="katowice">Katowice</a></li>
							<li><a href="http://naszekino.pl/miasto/show/6" class="miasto" id="krakow">Kraków</a></li>
							<li><a href="http://naszekino.pl/miasto/show/7" class="miasto" id="lodz">Łódź</a></li>
							<li><a href="http://naszekino.pl/miasto/show/8" class="miasto" id="opole">Opole</a></li>
							<li><a href="http://naszekino.pl/miasto/show/9" class="miasto" id="poznan">Poznań</a></li>
							<li><a href="http://naszekino.pl/miasto/show/10" class="miasto" id="szczecin">Szczecin</a></li>
							<li><a href="http://naszekino.pl/miasto/show/11" class="miasto" id="warszawa">Warszawa</a></li>
							<li><a href="http://naszekino.pl/miasto/show/12" class="miasto" id="wroclaw">Wrocław</a></li>
							<li><a href="http://naszekino.pl/miasto/show/13" class="miasto" id="zielona">Zielona Góra</a></li>
						</ul>
					</td>
					<td width=470px heigh=AUTO>
						<div align=center>
							<img src="/images/pic/poland.jpg" alt="tekst alternatywny"  usemap="#polska" />
							<map id="polska" name="polska">
								<area shape="circle" coords="276,92, 10" href="http://naszekino.pl/miasto/show/1" class="miasto" id="bialystok" alt="tekst alternatywny" />
								<area shape="circle" coords="45,189, 10" href="http://naszekino.pl/miasto/show/2" class="miasto" id="boleslawiec" alt="tekst alternatywny" />
								<area shape="circle" coords="178,208, 10" href="http://naszekino.pl/miasto/show/3" class="miasto" id="czestochowa" alt="tekst alternatywny" />
								<area shape="circle" coords="155,42, 10" href="http://naszekino.pl/miasto/show/4" class="miasto" id="gdansk" alt="tekst alternatywny" />
								<area shape="circle" coords="149,233, 10" href="http://naszekino.pl/miasto/show/5" class="miasto" id="katowice" alt="tekst alternatywny" />
								<area shape="circle" coords="175,248, 10" href="http://naszekino.pl/miasto/show/6" class="miasto" id="krakow" alt="tekst alternatywny" />
								<area shape="circle" coords="160,153, 10" href="http://naszekino.pl/miasto/show/7" class="miasto" id="lodz" alt="tekst alternatywny" />
								<area shape="circle" coords="118,211, 10" href="http://naszekino.pl/miasto/show/8" class="miasto" id="opole" alt="tekst alternatywny" />
								<area shape="circle" coords="69,131, 10" href="http://naszekino.pl/miasto/show/9" class="miasto" id="poznan" alt="tekst alternatywny" />
								<area shape="circle" coords="14,69, 10" href="http://naszekino.pl/miasto/show/10" class="miasto" id="szczecin" alt="tekst alternatywny" />
								<area shape="circle" coords="214,117, 10" href="http://naszekino.pl/miasto/show/11" class="miasto" id="warszawa" alt="tekst alternatywny" />
								<area shape="circle" coords="74,193, 10" href="http://naszekino.pl/miasto/show/12" class="miasto" id="wroclaw" alt="tekst alternatywny" />
								<area shape="circle" coords="33,138, 10" href="http://naszekino.pl/miasto/show/13" class="miasto" id="zielona" alt="tekst alternatywny" />
							</map>
						</div>
					</td align=center>
				</tr>
			</table>
			<table align="center" width="627px">		
				<tr>
					<td bgcolor=black>
						<div class="cart">&nbsp;</div>
						<div id="opis_kina">&nbsp;</div>
						</div>
					</td>
				</tr>
			</table>		
			<table align="center" width="627px">
				<tr>
					<td>
						<div id="trailery">&nbsp;<br/>
							<div id="container">
								<div id="slider">
									<ul>				
										<li><a href="http://templatica.com/preview/30"><img src="/images/movies/wolf.jpg" alt="Css Template Preview" /></a></li>
										<li><a href="http://templatica.com/preview/7"><img src="/images/movies/depp.jpg" alt="Css Template Preview" /></a></li>
										<li><a href="http://templatica.com/preview/25"><img src="/images/movies/weekly.jpg" alt="Css Template Preview" /></a></li>
									</ul>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</table>
	</div>		


							
							
							
							