<STRONG><font color=white><p style="margin-bottomt: 10px;">KINA</p></font></STRONG>
<font color=white>
<p>
		
							<%= javascript_include_tag :defaults %>
							<%= collection_select(:cinema, :id,  @cinemas,  :id, :name, {:prompt   => "wybierz kino"}, {:onchange => "#{remote_function(:url  => {:action => "update_artists"}, :with => "'id='+value")}"}) %>
							
							<div id="cinema_films"><%= render :partial => 'cinema_films', :object => @cinema_films %></div>
							
	
</p>
</font>