<% content_for :title do -%>
	Logowanie
<% end -%>
</head>
<body>
	<center>
		<div>
			<%= form_tag(:controller => 'private', :action => 'send_login', :method => "get") do %>
				<%= label_tag(:login, "Login:") %><%= text_field_tag(:login) %><br/>
				<%= label_tag(:password, "Hasło:") %><%= password_field_tag(:password) %><br/>
				<%= submit_tag("Login") %>
			<% end %>
		</div>
	  </center>
</body>
</html>