</head>
<body>
	<center>
		<div>
			<%= form_tag(:controller => 'public', :action => 'logout', :method => "get") do %>
				<%= submit_tag("Login") %>
			<% end %>
		</div>
	  </center>
</body>
</html>