<html>
	<head>
<br>
			</br>
			<div align="center" style=" color:#8DBDE5; font-size:15px; font-family:"Arial" ;">
				Bilety dostępne do druku
				<br>
				</br>
				<div style=" color:#000000 ;" >Wybierz bilet, który chcesz wygenerować</div>
				<table width=64 height=56 align=center valign=middle border=0 bordercolor="blue" background="/images/pic/free-printer.png" >
					<a href="ticket.pdf.prawn">Drukuj</a>
				</table>
			</div>	
			<br>
			</br>

	</head>
	</html>