<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>

		<% user=@user %>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Untitled Document</title>
		
		<style type="text/css"> 
		div.btn{
			float:left;
			color: #000000;
			margin:0px;
			padding:5px;
			text-align:center;
			background: #8DBDE5;
			border:solid 1px #c3c3c3;
		}
		div.form{
			margin:10px;
		}

		</style>
	</head>
	<body>
		


		<div style="float:left;">
			<p>Witaj, <%= user.login %>!</p>
		</div>
		
		<br/><br/>
		
		<div class="btn" onclick="$j('.form').slideToggle('slow');">
			edytuj swoje dane
		</div><br /><br />
		<div class="btn" onclick="$j('.pwd').slideToggle('slow');">
			zmień hasło
		</div>
		
		<div class="form" style="float:right;" hidden="true">
			<%= form_for(@user) do |u| %>
			  <% if @user.errors.any? %>
			    <div id="error_explanation">
			      <h2>Zaszły następujące nieprawidłowości:</h2>
			      <ul>
			      <% @user.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			
			  <div class="field">
			    <span style="float: left"><%= u.label :login %></span><br />
			    <%= u.text_field :login, :class => 'validate[required,maxSize[100]]', :size=>45 %>
			  </div>
			  <div class="field">
			    <span style="float: left"><%= u.label :email%></span><br />
			    <%= u.text_field :email, :class => 'validate[required,maxSize[50]]', :size=>45 %>
			  </div>
	
			  <div class="field">
			    <span style="float: left"><%= u.label :"telefon" %></span><br />
			    <%= u.text_field :phone, :size=>45 %>
			  </div>
			  			  
			  <div class="actions">
			    <%= u.submit "Zapisz"%>
			  </div>
			<% end %>
		</div>


		<div class="pwd" style="float:right;" hidden=true>
			<%= form_for(@user) do |us| %>
			  <% if @user.errors.any? %>
			    <div id="error_explanation">
			      <h2>Zaszły następujące nieprawidłowości:</h2>
			      <ul>
			      <% @user.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>		  
			  
			  <div class="field">
			    <span style="float: left"><%= us.label :"hasło" %></span><br />
			    <%= us.password_field :hashed_password, :size=>45, :value=> "" %>
			  </div>
			  
			  <div class="field">
			    <span style="float: left"><%= us.label :"potwierdź hasło" %></span><br />
			    <%= us.password_field :hashed_password_confirmation, :size=>45 %>
			  </div>	  
				  	
			  <div class="actions">
			    <%= us.submit "Zapisz"%>
			  </div>
			<% end %>
		</div>			
		
		
		
		
		<% link_to 'edytuj', :controller => "users", :action => "edit", :id => user.id.to_s %>
	</body>
</html>
