<h1>Edytuj kino</h1>

<% if @cinema -%>
	<%= render 'form' %>
	
	<%= link_to 'Pokaż', @cinema %> |
	<%= link_to 'Wróć', cinemas_path %>
<% else -%>
	<% redirect_to({:controller => 'cinemas'}, :notice => "Nie masz wystarczających uprawnień, lub odwołujesz się do nieistniejącego seansu") %>
<% end -%>