<!DOCTYPE html>
<html>
<head>
<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8"/>

<title>"Cinematoholix- Kino na miarę Twoich oczekiwań"</title>
</head>



<style>

#sWlbg {background: url('/images/pic/page_bg.jpg') no-repeat 0px 0; background-size: 100% 100% ;  }

</style>

</head>


     
<div id="sWlbg" >
		<div class="Ww2" align="center" >
			<img class="Wimg3" src="/images/pic/tlo.png" alt="" height="100" width="294" />
					<table class="Ww2" align="center" valign="middle" style="height:400px; overflow: auto; text-align: right;"><tr><td align="right" valign="top">
						<span style='color:green'><%= flash[:notice] if flash[:notice]%></span><br>
							
							<%= yield %>
					
					</table>
		</div>
	</div>

	



</html>